<div class="content-wrapper" style="">
    <div class="container-full">
        <!-- Main content -->
        <section class="content">

            <div class="box px-4 py-3">
                <div class="row">
                    <div class="col-lg-2 px-2">
                        <h3 class="nt-title fw-600 text-dark ">Change Password</h3>
                    </div>
                </div>

                <div class="box-body">
                    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Current Password</label>
                                    <input type="text" [(ngModel)]="UserModel.currentPassword" minlength="8" placeholder="Enter Your Current Password" name="oldpsw" #oldpsw="ngModel"    required>
                                    <ng-container *ngIf="oldpsw.touched && oldpsw.invalid"> 
                                      <p class="error-red">Current Password is Invalid </p> </ng-container>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>New Password (Must be at least 08 Characters)</label>
                                    <input type="text" [(ngModel)]="UserModel.newPassword" minlength="8" placeholder="Enter New Password" name="newpsw" #newpsw="ngModel"    required>
                                    <ng-container *ngIf="newpsw.touched && newpsw.invalid"> 
                                      <p class="error-red">New Password is Invalid </p> </ng-container>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Confirm Password</label>
                                    <input type="text" [(ngModel)]="UserModel.ConfirmPassword" placeholder="Re-enter New Password" name="confrmpsw" #confrmpsw="ngModel"    required>
                                    <ng-container *ngIf="confrmpsw.touched && confrmpsw.invalid"> 
                                      <p class="error-red">Confirm Password is Invalid </p> </ng-container>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <button href="javascript:;" class="mt-3 cmp-btn" type="submit"   [disabled]="form.invalid"
                                    >Change Password</button>
                            <a href="javascript:;" data-bs-toggle="modal" id="confirmchange" class="d-none" data-bs-target="#changepws"></a>
                                </div>
                        </div>
                    </form>


                </div>
            </div>



        </section>
    </div>

</div>
<div class="modal fade prg-popup" id="changepws" tabindex="-1" aria-labelledby="exampleModalLabel"
    style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body py-3">
                <div class="row justify-content-center">

                    <div class="col-lg-12 text-center mb-2 mt-3">
                        <span class="fs-20 fw-500 text-dark">Your Password has been Changed</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>